{% block Contenido%}
    <div style="background-color: rgba(117, 113, 106, 0.774);">
        {% if blogs %}
            <ul>
                {% for blog in blogs %}
                    <li>{{blog.titulo}}</li>
                    <div>
                        <form action="{% url 'eliminar_blog' blog.id %}" method="POST"> {% csrf_token %}
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock  %}
