{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AQUI ESTAN LOS BLOGS </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

<body>

    {% include 'Home/navbar.html' %}
    {% include 'Home/pageheader.html' %}

    {% block contenidoQueCambia %}
    {% endblock %}

    <!-- Blog post-->
    <div class="card mb-4">
        <!-- <a href="#!"><img class="card-img-top" src="https://images.cdn1.buscalibre.com/fit-in/360x360/c7/07/c70791bc2ff88ec1cd8c2b0a4990c3b9.jpg" width="300" height="100" /></a> -->
        <div class="card-body">
            <div class="small text-muted">Marzo 5, 2023</div>
            <h2 class="card-title h4">TITULO: El Jardin Olvidado</h2>
            <p class="card-text">"El jardín olvidado" de Kate Morton es una cautivadora novela que entrelaza dos épocas y sigue la vida de dos mujeres, una en la década de 1910 y otra en la actualidad, cuyos destinos están misteriosamente conectados a través de un antiguo jardín secreto. Con una trama rica en detalles históricos y secretos familiares, Morton teje una historia emotiva sobre amor perdido, segredos enterrados y la redención que se encuentra en la búsqueda de la verdad."</p>
            <a class="btn btn-primary" href="{% url 'comentario_create' %}">Agrega un comentario valorando este BLOG! →</a>
        </div>
    </div>

    <!-- Blog post-->
    <div class="card mb-4">
        <!-- <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a> -->
        <div class="card-body">
            <div class="small text-muted">Julio 8, 2023</div>
            <h2 class="card-title h4">TITULO: Harry Potter</h2>
            <p class="card-text">
                "Harry Potter" es una serie de novelas escritas por J.K. Rowling que sigue la extraordinaria vida de un joven mago llamado Harry Potter. La historia comienza cuando Harry, un niño aparentemente común y huérfano, descubre que es un mago y ha sido aceptado en la Escuela de Magia y Hechicería de Hogwarts. A medida que avanza en sus estudios en Hogwarts, Harry descubre su conexión con un pasado oscuro, incluyendo el misterioso y poderoso mago conocido como Lord Voldemort. La narrativa se desarrolla a través de siete libros, cada uno abordando un año académico en Hogwarts, y explora temas de amistad, coraje, lealtad y el eterno conflicto entre el bien y el mal en el mágico mundo que Rowling ha creado. La saga ha cautivado a lectores de todas las edades y se ha convertido en un fenómeno literario y cultural.</p>
            <a class="btn btn-primary" href="{% url 'comentario_create' %}">Agrega un comentario valorando este BLOG! → →</a>
        </div>
    </div>

    {% include 'Home/footer.html' %}

</body>
</html>